# ======================
# Java
# ======================
*.class
*.log
hs_err_pid*
replay_pid*

# Package Files
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# ======================
# NetBeans
# ======================
/nbproject/private/
/nbproject/build-impl.xml
/build/
/dist/
/nbbuild/
/nbdist/
/.nb-gradle/

# ======================
# IDE / OS
# ======================
.DS_Sto_
